.btn {
    &,
    &:link,
    &:visited {
        display: inline-block;
        font-size: 1.6rem;
        color: #fff;
        background-color: $main-blue;
        padding: 1.2rem 2rem; 
        text-decoration: none;    
    }

    &--orange {   
        &,
        &:link,
        &:visited {
            background-color: $main-orange;
        }
    }

    &--large {
        &,
        &:link,
        &:visited {
            font-size: 1.6rem;
            padding: 1.8rem 3rem;
            
            @mixin atSmall {
                font-size: 2rem;
            }
        }
    }

}